<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div id="menuGorne">
    <div id="sideMenu">
    <div id="insideSideMenu">
    <ul>
    <li>sklep</li>
    <li>wyprawy</li>
    <li>zielarstwo</li>
    <li>zielarstwo</li>
    <li>zielarstwo</li>
    <li>zielarstwo</li>
    <li>zielarstwo</li>
    <li>zielarstwo</li>
    <li>zielarstwo</li>
    </ul>
    </div>
    <ol >
      <li> <h2><a [routerLink]="['/']"><span>Widok</span></a></h2></li>
      <li> <h2> <a [routerLink]="['/newPage1']"><span>Widok1</span></a></h2></li>
    </ol>
  </div>
</div>
  <div id = "userMenu">
    <!--  User not authenticated view  -->
    <div *ngIf="token == ''"  style="text-align:center">
      <h1>Welcome to ProjectX!</h1>
      <h2 id="loggedUsername"></h2>
      <input [(ngModel)]="register.username" placeholder="Username" type="text"><br>
      <input [(ngModel)]="register.email" placeholder="Email" type="text"><br>
      <input [(ngModel)]="register.password" placeholder="Password" type="password"><br>

      <div class="radio-item">
        <div class="label-text">Profession</div>
          <div class="item">
            <input type="radio" name="profession" id="warrior" [(ngModel)]="register.profession" value="WR">
            <label for="warrior"><span></span> Warrior</label>
          </div>
          <div class="item">
            <input type="radio" name="profession" id="sorcerer" [(ngModel)]="register.profession" value="SC">
            <label for="sorcerer"><span></span> Sorcerer</label>
        </div>
        <button (click)="onRegister()">Register</button>
      </div>
      <input [(ngModel)]="login.username" placeholder="Username" type="text"><br>
      <input [(ngModel)]="login.password" placeholder="Password" type="password"><br>
      <button (click)="onLogin()">Login</button>
    </div>

<!--    &lt;!&ndash;  USER LOGGED IN VIEW &ndash;&gt;-->
<!--    <div *ngIf="(token != '' && canRender)" style="text-align:left">-->
<!--      <h1>Gold: {{ userData.gold }}</h1>-->

<!--      &lt;!&ndash;   User Skills Training Table   &ndash;&gt;-->
<!--      <table id="trainingTable">-->
<!--        <tr>-->
<!--          <th>Strength: {{ userData.strength }}</th>-->
<!--          <div *ngIf="(userData.gold - userData.strength * 2) >= 0; else elseBlock"><button mat-raised-button (click)="addStrength()" >+</button></div>-->
<!--          <ng-template #elseBlock><button mat-raised-button disabled>+</button></ng-template>-->
<!--          <th>Price: {{ userData.strength | getSkillPrice: strMulti }}</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>Wisdom: {{ userData.wisdom }}</th>-->
<!--          <div *ngIf="(userData.gold - userData.wisdom * 2) >= 0; else elseBlock"><button mat-raised-button (click)="addWisdom()" >+</button></div>-->
<!--          <ng-template #elseBlock><button mat-raised-button disabled>+</button></ng-template>-->
<!--          <th>Price: {{ userData.wisdom | getSkillPrice: wisMulti }}</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>Luck: {{ userData.luck }}</th>-->
<!--          <div *ngIf="(userData.gold - userData.luck * 2) >= 0; else elseBlock"><button mat-raised-button (click)="addLuck()" >+</button></div>-->
<!--          <ng-template #elseBlock><button mat-raised-button disabled>+</button></ng-template>-->
<!--          <th>Price: {{ userData.luck | getSkillPrice: lckMulti }}</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>Toughness: {{ userData.toughness }}</th>-->
<!--          <div *ngIf="(userData.gold - userData.toughness * 2) >= 0; else elseBlock"><button mat-raised-button (click)="addToughness()" >+</button></div>-->
<!--          <ng-template #elseBlock><button mat-raised-button disabled>+</button></ng-template>-->
<!--          <th>Price: {{ userData.toughness | getSkillPrice: tghMulti }}</th>-->
<!--        </tr>-->
<!--      </table>-->

<!--      <button (click)="onLogout()" >Logout</button>-->
<!--    </div>-->
    <!--  USER LOGGED IN VIEW -->
    <div *ngIf="(token != '' && canRender)" style="text-align:left">
      <h1>Gold: {{ userData.gold }}</h1>

      <!--   User Skills Training Table   -->
      <table id="trainingTable" >
        <tr *ngFor='let skill of userData.skills | keyvalue'>
          <th>{{ skill.key | titlecase }}: {{ skill.value }}</th>
          <th>Price:
            <span id="{{ skill.key }}">{{ skill.key | getSkillPrice: skill.value }}</span>
          </th>
          <div *ngIf="skill.key | checkSkillPossible: userData.gold; else elseBlock"><button mat-raised-button (click)="addSkill(skill.key)">+</button></div>
<!--          <th>Price:-->
<!--            <span id="{{ skill.key }}">{{ skill.key | getSkillPrice: skill.value }}</span>-->
<!--          </th>-->
          <ng-template #elseBlock><button mat-raised-button disabled>+</button></ng-template>
        </tr>

      </table>
      <button (click)="onLogout()" >Logout</button>
    </div>
  </div>
<router-outlet></router-outlet>
