*{
  margin: 0;
  padding:0 ;
}

#menuGorne
{
  height: 130px;
  background: yellow;
  z-index: 100;
}
#sideMenu
{
  position: absolute;
  height: 400px;
  width: 15%;
  background: green;
  top: 180px;
  z-index: 100;
  left: 25px;
  top: 250px;
}
#userMenu
{
  position: absolute;
  height: 400px;
  width: 60%;
  background: gray;
  left: 20%;
  top: 250px;
}
#trainingMenu
{
  position: relative;
  top: 25px;
  left: 25px;
  width: auto;
  float: left;

}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#sideMenu ul {
  list-style-image: url("https://img.icons8.com/metro/15/000000/sword.png");

}
#sideMenu ul li{
  border-bottom:2px solid gold;
  padding-bottom: 20px;
}
.mat-raised-button {
  margin: 6px 8px 6px 8px;
  min-width: 25px;
  border-radius: 3px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  /*border: none;*/
  outline: none;
  margin-right: 8px;
  margin-right: 8px;
  background-color: darkgreen;

}
.mat-raised-button[disabled] {
  background-color: firebrick;

}
#playerInfo{
  /*color: #695220;*/
  width: 20%;
  position: absolute;
  margin-top: 2%;
  text-align: left;
  right: 2%;
  float: right;
  display: inline-flex;
  flex-direction: column;
}
.statName {
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  top: -3px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  font-size: .9em;
  width: 70%;

}
.statValue {
  position: relative;
  display: block;
  float: right;
  width: 20%;
  text-align: right;
  top: -23px;
  right: 5px;
  font-weight: bold;
}

.progressBarFg{
  position: relative;
  height: 10px;
  width: 100%;
  display: block;
  background: green;
}
.progressBarBg{
  position: relative;
  display: block;
  height: 10px;
  top: 20px;
  background: red;
}

/*#charLvl{*/
/*  */
/*}*/

/*#charExp{*/

/*}*/

/*#charDmg{*/

/*}*/

/*#charDef{*/

/*}*/
