*{
  margin: 0;
  padding:0 ;
}

#menuGorne
{
  height: 70px;
  background: yellow;
  z-index: 100;
}
#sideMenu
{
  position: absolute;
  height: 400px;
  width: 200px;
  background: green;
  left: 10px;
  top: 180px;
  z-index: 100;
}

#sideMenu ul {
  list-style-image: url("https://img.icons8.com/metro/15/000000/sword.png");

}
#sideMenu ul li{
  border-bottom:2px solid gold;
  padding-bottom: 20px;
}


