<div id="menu">

  <div id="trainingMenu" *ngIf="canRender">
    <div id="userGold">
      <span>Gold: {{ userData.gold }}</span>
      <span style="padding-left: 40px">Prof: {{ userData.profession }}</span>
    </div>
    <div class="trainingField" *ngFor="let skill of userSkills | keyvalue">
      <div class="skillName">{{ skill.key | titlecase }}: <span class="skillValue"> {{ skill.value }}</span></div>
      <span class="trainingPrice">Price: {{ skillPrices[skill.key] }}</span>
      <div class="trainingButton" *ngIf="skillPrices[skill.key] <= userData.gold; else elseBlock">
        <span><button mat-raised-button (click)="addSkill(skill.key)">+</button></span>
      </div>
      <ng-template #elseBlock>
        <span class="trainingButton"><button mat-raised-button disabled>+</button></span>
      </ng-template>
    </div>

  </div>

</div>

