<div id="container">
  <div id="content">
    <div id="notEnoughGoldWarning">Twoja gildia ma za mało złota!</div>

    <div id="nonGuildContent" *ngIf="!appUser?.guild">
      <button id="createGuildButton" (click)="createNewGuildWindow()">Załóż gildię</button>
      <button id="searchGuildButton"><a [routerLink]="['/ranking/guild/showAll']">Szukaj gildii</a></button>
    </div>

    <div id="guildContent" *ngIf="appUser?.guild">
      <table id="guildInfo">
        <tr><td>Przed Tobą roztaczają sie dobrodziejstwa gildii <b>{{appUser?.guild.guildName}}</b>. Twoja gildia nazywana
          bywa również <b>{{appUser?.guild.guildTag}}</b></td></tr>
       <tr><td>Liderem gildii jest mocarny <b id="guildLeader">{{appUser?.guild?.guildLeader?.username}}</b></td></tr>
        <tr><td>
          <h3>Ilość członków: <b>{{guildMembers?.length}}</b></h3>
         <h3>Ilość złota w skarbcu: <b id="goldAmount">{{appUser?.guild.guildGold}}</b></h3>
          <form id="guildDonate" (ngSubmit)="donateGuild()" [formGroup]="newGoldForm">
            <mat-form-field appearance="outline">
              Dokonaj wpłaty złota:
              <input matInput formControlName="amount" required/>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit" style="margin-left: 10px" [disabled]="!newGoldForm.valid">
             Wpłać
            </button>
          </form>

          <!--<h2>Budynki </h2>-->
          <!--<h3 class="navBuilding">Budynek głowny: {{appUser?.guild.mainBuildingLevel}}</h3>-->
          <!--<h3 class="navBuilding" (click)="navigateToStore()">Magazyn: {{appUser?.guild.storeLevel}}</h3>-->

              <div style="position: relative">
                <div id="buildingFunc">
                  <div id="buildingContent">
                    <img id="closeBuildingWindow" (click)="closeAnyWindow()"
                         src="https://img.icons8.com/dusk/64/000000/close-window.png">
                    <table id="listGuildBuildings">
                      <tr><th>Nazwa</th><th>Poziom</th><th>Koszt ulepszenia</th><th>Akcja</th></tr>
                      <tr><td>Budynek główny</td><td>{{appUser?.guild?.mainBuildingLevel}}</td><td>{{mainBuildingUpgradeCost}}</td><td><button class="myButton" id='mainBuilding' (click)="upgradeBuilding($event)">Rozbuduj</button></td></tr>
                      <tr><td>Magazyn</td><td>{{appUser?.guild?.storeLevel}}</td><td>{{storeUpgradeCost}}</td><td><button class="myButton" id='store' (click)="upgradeBuilding($event)">Rozbuduj</button></td></tr>
                      <tr><td>Kopalnia</td><td>{{appUser?.guild?.mineLevel >0 ? appUser?.guild?.mineLevel : 'NIE ISTNIEJE'}}</td><td>{{mineUpgradeCost}}</td><td><button class="myButton" id='mine' (click)="upgradeBuilding($event)">Rozbuduj</button></td></tr>
                    </table>
                    <div id="mineFunctionality">
                      <div *ngIf="!appUser?.working">
                      <h2>Twoja gildia posiada kopalnię o poziomie <span id="guildMineLevel"></span></h2>
                      <h2>W kopalni możesz zdobyć walutę premium.</h2>
                      <h2>Pracuj w kopalni przez: <span id="hours"></span><span id="format"></span> <button id="mineWork" (click)="mineWork()">Pracuj</button></h2>
                      <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="8"></mat-slider>
                      <h2 id="mineReward">Za tę katorgę możesz zdobyć: <span id="reward"></span> premium currency</h2>
                    </div>
                      <div *ngIf="appUser?.working">
                        <h1>JUŻ PRACUJESZ DO KOŃCA ZOSTAŁO <span id="alreadyWorkingHowLongTillEnd"></span></h1>
                        <div id="progressContainer">
                        <div id="progress">
                          <div id="progressBar"></div>
                        </div>
                        </div>

                        <button style='display: none; width: 120px; height:70px' id="collectReward" (click)="getRewardForWork()">Odbierz nagrodę <span id="collectRewardAmount"></span> premium currency</button>
                      </div>
                    </div>
                  </div>

            </div>
          <img id="guildMap" style="width: 800px; height: 500px" src="/assets/images/guild.jpg">
          <img  matTooltip="Budynek główny poziom 1" (click)="mainBuildingFunc()" *ngIf="appUser?.guild?.mainBuildingLevel == 1" class="mainBuilding" src="/assets/images/main1.png">
            <img matTooltip="Budynek główny poziom 2" (click)="mainBuildingFunc()" *ngIf="appUser?.guild?.mainBuildingLevel == 2" class="mainBuilding" src="/assets/images/main2.png">
            <img matTooltip="Budynek główny poziom 3" (click)="mainBuildingFunc()" *ngIf="appUser?.guild?.mainBuildingLevel == 3" class="mainBuilding" src="/assets/images/main3.png">
            <img matTooltip="Budynek główny poziom 4" (click)="mainBuildingFunc()" *ngIf="appUser?.guild?.mainBuildingLevel == 4" class="mainBuilding" src="/assets/images/main4.png">
            <img matTooltip="Budynek główny poziom 5" (click)="mainBuildingFunc()" *ngIf="appUser?.guild?.mainBuildingLevel >= 5" class="mainBuilding" src="/assets/images/main5.png">

            <img matTooltip="Magazyn gildii poziom 1" (click)="navigateToStore()" *ngIf="appUser?.guild?.storeLevel == 1" class="storeBulding" src="/assets/images/store1.png">
            <img matTooltip="Magazyn gildii poziom 2" (click)="navigateToStore()" *ngIf="appUser?.guild?.storeLevel == 2" class="storeBulding" src="/assets/images/store2.png">
            <img matTooltip="Magazyn gildii poziom 3" (click)="navigateToStore()" *ngIf="appUser?.guild?.storeLevel == 3" class="storeBulding" src="/assets/images/store3.png">
            <img matTooltip="Magazyn gildii poziom 4" (click)="navigateToStore()" *ngIf="appUser?.guild?.storeLevel >= 4" class="storeBulding" src="/assets/images/store4.png">

            <img matTooltip="Kopalnia poziom 1" (click)="mineBuildingFunc()" *ngIf="appUser?.guild?.mineLevel == 1" class="mineBuilding" src="/assets/images/mine1.png">
            <img  matTooltip="Kopalnia poziom 2"(click)="mineBuildingFunc()"*ngIf="appUser?.guild?.mineLevel == 2" class="mineBuilding" src="/assets/images/mine2.png">
            <img  matTooltip="Kopalnia poziom 3"(click)="mineBuildingFunc()"*ngIf="appUser?.guild?.mineLevel == 3" class="mineBuilding" src="/assets/images/mine3.png">
            <img  matTooltip="Kopalnia poziom 4"(click)="mineBuildingFunc()"*ngIf="appUser?.guild?.mineLevel == 4" class="mineBuilding" src="/assets/images/mine4.png">
            <img  matTooltip="Kopalnia poziom 5"(click)="mineBuildingFunc()"*ngIf="appUser?.guild?.mineLevel >= 5" class="mineBuilding" src="/assets/images/mine5.png">
          </div>
      <h2>Członkowie </h2>
      <table>

        <tr><th>Gracz</th><th>Poziom</th><th>Profesja</th><th>Rola</th><th *ngIf="guildLeader?.username === appUser.username"> Zarządzaj graczami </th></tr>
        <!--first display leader-->
        <tr class="guildMember">
        <td> <a [routerLink]="['/ranking/user/', guildLeader?.username || '']">{{guildLeader?.username}}</a></td>  <td>{{guildLeader?.level}}</td><td>{{guildLeader?.profession}}</td><td>Lider</td>
        </tr>
        <!--then rest of members-->
        <ng-container *ngFor="let member of guildMembers; let i = index">
        <tr class="guildMember"  *ngIf="guildLeader?.username !== member?.username" >
          <td > <a [routerLink]="['/ranking/user/', member.username]">{{member.username}}</a></td>  <td>{{member.level}}</td><td>{{member.profession}}</td><td id="{{ 'role' + i }}">Członek</td>
          <td (click)="removeUserFromGuild($event)" class="removeUserFromGuild">Wyrzuc</td>
        </tr>
        </ng-container>
      </table>
        </td>
      </table>
    </div>




    <div id="form">
      <div id="formContent">
        <img id="closeCreatingGuildWindow" (click)="closeAnyWindow()"
             src="https://img.icons8.com/dusk/64/000000/close-window.png">
        <form class="example-form" (ngSubmit)="createGuild()" [formGroup]="newGuildForm">
          <mat-form-field appearance="outline">
            <mat-label>Nazwa gildii</mat-label>
            <input matInput formControlName="guildName" required/>
            <mat-error *ngIf="hasError('guildName')">Nazwa jest wymagana!</mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Tag gildii</mat-label>
            <input matInput formControlName="guildTag" required/>
            <mat-error *ngIf="hasError('guildTag')">Tag jest wymagany!</mat-error>
          </mat-form-field>

          <button mat-flat-button color="primary" type="submit" style="float: right;" [disabled]="!newGuildForm.valid">
            Stwórz gildię
          </button>
        </form>
      </div>
    </div>



  </div>
</div>
