<div id ="userMenu">
<div id="wrongItemWarning">Niewłaściwy przedmiot!</div>
  <table id="infoAboutItem">
    <tr>
      <td colspan = "2" style="text-align: center; color: white; font-size: 1.4rem" id="itemName"></td>
    </tr>
    <tr>
      <td id="itemId" style="opacity: 0" colspan="2">2</td>
    </tr>
    <tr>
      <td> Obrażenia:</td>
      <td id="itemDamage">-</td>
    </tr>
    <tr>
      <td> Obrona:</td>
      <td id="itemDefense">-</td>
    </tr>
    <tr>
      <td> Siła:</td>
      <td id="itemStrength">-</td>
    </tr>
    <tr>
      <td> Mądrość:</td>
      <td id="itemWidsdom">-</td> <!--UWAGA NA LITEROWKE -->
    </tr>
    <tr>
      <td style=" color: white"> Wartość:</td>
      <td id="itemValue" style=" color: white">-</td>
    </tr>
    <tr>
      <td style=" color: white"> Cena:</td>
      <td id="itemPrice" style=" color: white">-</td>
    </tr>

    <tr>
      <td style=" color: white"> Poziom:</td>
      <td id="itemLevel" style=" color: white">-</td>
    </tr>

  </table>
  <div id="trainingMenu">
    <div id="userGold">
      <span>Gold: {{ userData.gold }}</span>
      <span style="padding-left: 40px">Prof: {{ userData.profession }}</span>
    </div>
    <table id="trainingField">
      <tr *ngFor="let skill of userSkills;">
        <td width="40%">{{ skill.name}}</td>
        <td style="text-align: center">{{ skill.userValue}}</td>
        <td style="text-align: right">Cena: {{ skill.price}}</td>
      <td id="trainingButton" *ngIf="skill.price <= userData.gold; else elseBlock">
       <button mat-raised-button (click)="addSkill(skill.key)">+</button>
      </td>
      <ng-template #elseBlock>
        <button class="tooltip" mat-raised-button disabled>+<span class="tooltiptext">Niewystarczająco złota</span></button>
      </ng-template>
      </tr>
    </table>

  </div>


  <table id="backpack" cellpadding="0" cellspacing="0">
    <tr>
      <td><div id="slot1" cdkDropList #slot1="cdkDropList"  [cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]"  (cdkDropListDropped)="drop($event)" class="itemSlot"><div id="userItem1" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><div id="slot2" cdkDropList #slot2="cdkDropList"  [cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"  class="itemSlot"><div id="userItem2" class="userItem"  cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><div id="slot3" cdkDropList #slot3="cdkDropList"  [cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"  class="itemSlot"><div id="userItem3"  class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><div id="slot4" cdkDropList #slot4="cdkDropList" [cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)" class="itemSlot"><div id="userItem4" class="userItem"  cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><div id="slot5" cdkDropList #slot5="cdkDropList" [cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)" class="itemSlot"><div id="userItem5" class="userItem"  cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
    </tr>
    <tr>
      <td><div id="slot6" cdkDropList #slot6="cdkDropList" [cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)" class="itemSlot"><div id="userItem6" class="userItem"  cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><div id="slot7" cdkDropList #slot7="cdkDropList" [cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)" class="itemSlot"><div id="userItem7" class="userItem"  cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><div id="slot8" cdkDropList #slot8="cdkDropList" [cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)" class="itemSlot"><div id="userItem8"class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><div id="slot9" cdkDropList #slot9="cdkDropList" [cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)" class="itemSlot"><div id="userItem9" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><div id="slot10" cdkDropList #slot10="cdkDropList"[cdkDropListConnectedTo]="[earringList,helmetList,necklaceList,weaponList,
  plateList,shieldList,gauntletsList,bootsList,ringList,slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)" class="itemSlot"><div id="userItem10" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
    </tr>

  </table>

  <table cellpadding="0" cellspacing="0" id="equippedItems">
    <tr>
    <td><img id="earringHolderPhoto" src="../assets/images/earringsHolder.png"><div id="earring" cdkDropList  #earringList="cdkDropList"  [cdkDropListConnectedTo]="[slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)" ><div id="earringE" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
    <td><img id="helmetHolderPhoto" src="../assets/images/helmetHolder.png"><div id="helmet" cdkDropList  #helmetList="cdkDropList"  [cdkDropListConnectedTo]="[slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"><div id="helmetE" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
    <td><img id="necklaceHolderPhoto" src="../assets/images/necklaceHolder.png"><div id="necklace" cdkDropList  #necklaceList="cdkDropList"  [cdkDropListConnectedTo]="[slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"><div id="necklaceE" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
    </tr>
    <tr>
      <td><img id="weaponHolderPhoto" src="../assets/images/weaponHolder.png"><div id="weapon" cdkDropList  #weaponList="cdkDropList"  [cdkDropListConnectedTo]="[slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"><div id="weaponE" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div> </td>
      <td><img id="plateHolderPhoto" src="../assets/images/plateHolder.png"><div id="plate" cdkDropList  #plateList="cdkDropList"  [cdkDropListConnectedTo]="[slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"><div id="plateE" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><img id="shieldHolderPhoto" src="../assets/images/shieldHolder.png"><div id="shield" cdkDropList  #shieldList="cdkDropList"  [cdkDropListConnectedTo]="[slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"><div id="shieldE" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
    </tr>
    <tr>
      <td><img id="gauntletsHolderPhoto" src="../assets/images/gauntletsHolder.png"><div id="gauntlets" cdkDropList  #gauntletsList="cdkDropList"  [cdkDropListConnectedTo]="[slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"><div id="gauntletsE" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div> </td>
      <td><img id="bootsHolderPhoto" src="../assets/images/bootsHolder.png"><div id="boots" cdkDropList  #bootsList="cdkDropList"  [cdkDropListConnectedTo]="[slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"><div id="bootsE" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
      <td><img id="ringHolderPhoto" src="../assets/images/ringHolder.png"><div id="ring" cdkDropList  #ringList="cdkDropList"  [cdkDropListConnectedTo]="[slot1,slot2,slot3,slot4,slot5,slot6,slot7,slot8,slot9,slot10]" (cdkDropListDropped)="drop($event)"><div id="ringE" class="userItem" cdkDrag (cdkDragStarted)="dragStart($event)" (cdkDragEntered)="dragEntered($event)" (cdkDragExited)="dragExit($event)"></div></div></td>
    </tr>

  </table>


</div>
