.registerContainer{
  width: 100%;
  height: 100%;
}
.contentRegister{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffaabb;
}
.loginText{
  position: absolute;
  font-size: 40px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginText:hover{
  cursor: pointer;
  color: lightblue;
}
.registerForm{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.onRegisterButton{
  margin-top: 50px;
  padding: 12px;
  width: 120px;
  height: 40px;

}
