#user_items
{
  position: absolute;
  margin-top: 100px;
  width: 70%;
  height: 400px;
  left:308px;
  background: green;
}
#informacja
{
  position: absolute;
  width: 150px;
  height: 150px;
  background:grey;
  visibility: hidden;
  z-index: 300;
  transition: visibility 50ms linear;
}

