<div id="container">
<div id="mapContent" (click)="closeFightWindow()">
  <div (click)="fight($event)" id="grunwaldzka">GRUNWALDZKA</div>
</div>
  <div id="fightWindow">
    <div id="contentOfFightWindow">
      <table id="infoAboutUpcomingFight" border="1">
        <tr><td id="monsterName"></td></tr>
        <tr><td id="monsterLevel"></td></tr>
        <tr><td id="monsterHealth"></td></tr>
        <tr><td id="monsterDamage"></td></tr>
        <tr><td id="monsterExp"></td></tr>
      </table>
      <img id="monsterImage" src="https://cdn.blankstyle.com/files/imagefield_default_images/notfound_0.png">
      <img id="closeFightWindowIcon" (click)="closeFightWindow()" src="https://img.icons8.com/dusk/64/000000/close-window.png">
    </div>
  </div>
</div>
