<div id="potwor">
  <div id="infoBox">


    <table border="1">
      <tr *ngFor="let monster of monsters">
        <td><a [routerLink]="['/monster/', monster.id]"> <img src="http://localhost:8080/monster/getMonsterImage/{{monster.id}}"></a></td>
        <td><h2>{{monster.monsterName}}</h2></td>
        <td><h2>{{monster.location.locationName}}</h2></td>
      </tr>
    </table>


<table>
  <tr *ngFor="let item of items">
    <td><a [routerLink]="['/item/',item.id]"><img src="http://localhost:8080/item/getItemImage/{{item.id}}"></a></td>
  </tr>
</table>


  <button (click)="listMonsters()" id="przycisk" >Wyswietl potwory</button>
  <button  (click)="listItems()" id="przycisk2" >Wyswietl przedmioty</button>

</div>
</div>
