#container {
  position: absolute;
  left: 15%;
  top: 15%;
  width: 85%;
  height: 85%;
  background-color: cadetblue;

}

#items {
  position: absolute;
  left: 25%;
  top: 15%;
}

#title{
  font-size: 22px;
  font-weight: bold;
}
#bolder{
  font-size: 18px;
  font-weight: bold;
}

#inff
{
  position: absolute;
  width: 180px;
  height: 100px;
  background:grey;
  visibility: hidden;
  z-index: 300;
  transition: visibility 50ms linear;
}
#centrumDowodzenia
{
  position: absolute;
  left: 30%;

}
#marginbottom
{
  margin-bottom: 20px;
}


.my_table table, .my_table td, .my_table thead, .my_table tbody {display: block!important;}
 .my_table tr {float: left!important; width: 50%!important;}




/*table, td, thead, tbody {display: block!important;}*/
/*tr {float: left!important; width: 50%!important;}*/
