#items{

  position: relative;
  width: 100%;
  background: whitesmoke;
  height: 520px;
}

#earring, #helmet,#necklace,#weapon,#plate,#shield,#gauntlets,#boots,#ring
{
  left:13px;
  width: 90px;
  height: 90px;
  top:14px;
  position: absolute;
}

#helmet,#plate,#boots
{
  left:133px;
}
#necklace,#shield,#ring
{
  left:253px;
}

#weapon,#plate,#shield
{
  top:137.5px;
}
#gauntlets,#boots,#ring
{
  top:261px;
}

#equippedItems
{

  margin-top: 5px;
  left:250px;
  position: absolute;
  background: rgb(93,73,57);
}

#backpack
 {
  background: rgb(198,193,137);
  position: absolute;
   right:80px;
   margin-top: 5px;
  max-height: 200px;
 }
#backpack tr td
{
  opacity: 1;
  max-height: 90px;
}
.itemSlot
{
  max-height: 90px;
  width: 90px;
  height: 90px;
  background-image: url('../../assets/images/backpackSlot.png');
}

.exItem:hover
{
  cursor: move;
}


.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12)

}
.cdk-drag-placeholder
{
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging div // zawartosc tego diva musi miec pozycje absolutna, bo inaczej jezeli jest jakis item
  //w miejscu na ktore przeciagamy nowy item to stary sie przesuwa
{
  position: absolute;
}
#backpack .cdk-drop-list
{
  border:1px solid red;
  max-height: 90px;
}
#wrongItemWarning
{
color: red;
  font-family: "Arial Black";
  font-size: 25px;
  position: absolute;
  z-index: 300;
  opacity: 0;
  left:19%;
  top:20%;

}
#infoAboutItem
{
  position: absolute;
  width: 150px;
  background:yellow;
  visibility: hidden;
  z-index: 300;
  transition: visibility 50ms linear;
}

@keyframes changeVisibility {
  0% {opacity: 0;}
  10% {opacity: 1; }
  70% {opacity: 1; top:15%;}
  100% {opacity: 0; top:15%;}
}


