#items{

  position: relative;
  width: 100%;
  background: whitesmoke;
  height: 520px;
}

#earringHolder, #helmetHolder,#necklaceHolder,#weaponHolder,#plateHolder,#shieldHolder,#gauntletsHolder,#bootsHolder,#ringHolder
{
  left:13px;
  width: 90px;
  height: 90px;
  top:14px;
  position: absolute;
}

#helmetHolder,#plateHolder,#bootsHolder
{
  left:133px;
}
#necklaceHolder,#shieldHolder,#ringHolder
{
  left:253px;
}

#weaponHolder,#plateHolder,#shieldHolder
{
  top:137.5px;
}
#gauntletsHolder,#bootsHolder,#ringHolder
{
  top:261px;
}

#equippedItems
{
  margin-top: 5px;
  left:210px;
  position: absolute;
  background: rgb(93,73,57);
}

#backpack
 {
  background: rgb(198,193,137);
  position: absolute;
   right:50px;
   margin-top: 5px;
 }
#backpack tr td
{
  opacity: 1;
}
.itemSlot
{
  width: 90px;
  height: 90px;
  background-image: url('../../assets/images/backpackSlot.png');
}

.exItem:hover
{
  cursor: move;
}
//.cdk-drag-placeholder {
//  display:none;
//}

.cdk-drag-preview {
  box-sizing: border-box;
  background: firebrick;

}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

