<div id="items">
  <table cellpadding="0" cellspacing="0" id="equippedItems">
    <tr>
    <td><img src="../assets/images/earringsHolder.png"> </td>
    <td><img src="../assets/images/helmetHolder.png"></td>
    <td><img src="../assets/images/necklaceHolder.png"></td>
    </tr>
    <tr>
      <td><img src="../assets/images/weaponHolder.png"> </td>
      <td><img src="../assets/images/plateHolder.png"></td>
      <td><img src="../assets/images/shieldHolder.png"></td>
    </tr>
    <tr>
      <td><img src="../assets/images/gauntletsHolder.png"> </td>
      <td><img src="../assets/images/bootsHolder.png"></td>
      <td><img src="../assets/images/ringHolder.png"></td>
    </tr>

  </table>

  <table cellspacing="0" cellpadding="0" id="backpack">
    <tr>
      <td class="itemSlot"><img src="../assets/images/exampleItem.png"></td>
      <td class="itemSlot"><img src="../assets/images/exampleItem2.png"></td>
      <td class="itemSlot"></td>
      <td class="itemSlot"></td>
      <td class="itemSlot"></td>
      <td class="itemSlot"></td>
    </tr>
    <tr>
      <td class="itemSlot"></td>
      <td class="itemSlot"></td>
      <td class="itemSlot"></td>
      <td class="itemSlot"></td>
      <td class="itemSlot"></td>
      <td class="itemSlot"></td>
    </tr>

  </table>
</div>
