<div id="whatever">
  <!--<label id="mag1">-->
  <!--<input type="radio" name="profession" id="mag" value="mag" (click)="choseMage()">-->
  <!--Mag</label>-->
  <!--<label id="warrior1">-->
  <!--<input type="radio"  name="profession" id="warrior" value="warrior" checked="true" (click)="choseWarrior()" >-->
  <!--warrior-->
  <!--</label>-->
  <!--<div id="imageContainer">-->
  <!--<img id="characterImage" src="../assets/images/ch1.jpg">-->
  <!--</div>-->
  <div id="content">
    <div id="origin">
      <div id="contentOfOrigin" style="position: relative; width: 100%; height: 100%;">
        <img id="characterImage1" src="../assets/images/a.png">
        <img id="characterImage2" src="../assets/images/a1.png">
        <img id="characterImage3" src="../assets/images/h.png">
        <img id="characterImage4" src="../assets/images/plateHolder.png">
      </div>
    </div>
    <h1 id="rot" (click)="rotuj()">Rotuj</h1>
  </div>
</div>

