#infoAboutItem
{
  position: absolute;
  width: 150px;
  background:yellow;
  visibility: hidden;
  z-index: 300;
  transition: visibility 50ms linear;
}
#userRanking
{
  position: absolute;
  width: 1150px;
  height: 630px;
  background: aliceblue;
  left:300px;
  z-index: 100;

}
#rankingTableHolder {
  position: absolute;
  top:60px;
  width: 60%;
  height: 500px;
  overflow-y: scroll;
}
.mat-row
{
  text-align: left;
}
.mat-row:hover {
  font-weight: bold;
  cursor: pointer;
}
::ng-deep th.mat-header-cell
{
  background: red;
  z-index: 300;
 width: 200px;

}


#rankingTableHolder::-webkit-scrollbar {
  background: lightgreen;

}

#rankingTableHolder::-webkit-scrollbar-track {
  border-radius: 12px;
}

#rankingTableHolder::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: red;
}

​
::ng-deep .mat-sort-header-container {

}


mat-form-field {
  width: 70%;
}
#filtrInput
{
  padding: 5px;
  top:5px;
  background: white;
  position: absolute;
  width: 200px;
  border: 2px solid black;
}
th.mat-sort-header-sorted {
  color: black;
}
::ng-deep .mat-sort-header-sorted {
  color: white;
}

#earring, #helmet,#necklace,#weapon,#plate,#shield,#gauntlets,#boots,#ring
{
  left:14.5px;
  width: 120px;
  height: 120px;
  top:14px;
  position: absolute;
}

#helmet,#plate,#boots
{
  left:164.5px;
}
#necklace,#shield,#ring
{
  left:314.5px;
}

#weapon,#plate,#shield
{
  top:167.5px;
}
#gauntlets,#boots,#ring
{
  top:321px;
}

#userInfo
{
  margin-top: 5px;
  right:5px;
  position: absolute;
  display: none;
}
#equippedItems
{


  background: rgb(93,73,57);
}
#userStatistics
{
  border: 1px solid black;
}
#userStatistics tr td
{
  padding: 5px;
}
#userStatistics tr td:nth-child(2n)
{
  width: 50px;
  text-align: center;
}
#userStatistics tr:nth-child(2n)
{
background: lightgray;
}


#userStatistics tr:nth-child(2n+1)
{
  background: antiquewhite;
}
