<div id="userRanking">
  <div id="alreadyInGuildWarning">Ten gracz jest już w Twojej gildii!</div>
  <div id="infoAboutItem">
    <table style="width: 100%">
      <tr>
        <td colspan="2" style="text-align: center;" id="itemName"></td>
      </tr>
      <tr>
        <td> Obrażenia: </td>
        <td id="itemDamage"></td>
      </tr>
      <tr>
        <td> Obrona: </td>
        <td id="itemDefense"></td>
      </tr>
      <tr>
        <td> Siła: </td>
        <td id="itemStrength"></td>
      </tr>
      <tr>
        <td> Mądrość: </td>
        <td id="itemWidsdom"></td> <!--UWAGA NA LITEROWKE -->
      </tr>
      <tr>
        <td> Wartość: </td>
        <td id="itemValue"></td>
      </tr>
      <tr>
        <td> Poziom: </td>
        <td id="itemLevel"></td>
      </tr>
    </table>
  </div>

  <div id="navi"><span id="users" style="border-right: 2px solid red" (click)="showUsers()">Gracze</span>
    <span id="guilds" (click)="showGuilds($event)">Gildie</span></div>
  <mat-form-field id="filtrInput">
    Wyszukaj:
    <input  matInput (keyup)="applyFilter($event.target.value)"  />
  </mat-form-field>

<div id="rankingTableHolder">
  <table id="rankingTable" mat-table [dataSource]="dataSource" matSort cdkFocusInitial class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th  mat-header-cell *matHeaderCellDef>Pozycja</th>
      <td mat-cell (click)="displayUserData($event)" *matCellDef="let user; let i = index">{{i+1}}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa postaci</th>
      <td mat-cell (click)="displayUserData($event)" *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
      <td mat-cell (click)="displayUserData($event)" *matCellDef="let user">{{ user.level }}</td>
    </ng-container>

    <ng-container matColumnDef="total_exp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Całkowite doświadczenie</th>
      <td mat-cell (click)="displayUserData($event)" *matCellDef="let user">{{ user.total_exp }}</td>
    </ng-container>

    <ng-container matColumnDef="profession">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Profesja</th>
      <td mat-cell (click)="displayUserData($event)" *matCellDef="let user">{{ user.profession }}</td>
    </ng-container>
    <ng-container matColumnDef="guild">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gildia</th>
      <td mat-cell (click)="showGuilds($event)" *matCellDef="let user">{{ user.guild?.guildTag || '-' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <table id="rankingGuildTable" mat-table [dataSource]="dataGuildSource" matSort cdkFocusInitial class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th  mat-header-cell *matHeaderCellDef>Pozycja</th>
      <td mat-cell *matCellDef="let guild; let i = index">{{i+1}}</td>
    </ng-container>

    <ng-container matColumnDef="guild_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</th>
      <td mat-cell *matCellDef="let guild">{{ guild.guildName }}</td>
    </ng-container>

    <ng-container matColumnDef="guild_tag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Skrót</th>
      <td mat-cell *matCellDef="let guild">{{ guild.guildTag }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedGuildColumns;sticky: true;"></tr>
    <tr mat-row (click)="displayGuildData($event)"  *matRowDef="let row; columns: displayedGuildColumns;"></tr>

  </table>
</div>
<div id="userInfo">
  <table cellpadding="0" cellspacing="0" id="equippedItems">
    <tr>
      <td><img id="earringHolderPhoto" src="../assets/images/earringsHolder.png"><div id="earring"><div id="earringE" class="userItem"></div></div></td>
      <td><img id="helmetHolderPhoto" src="../assets/images/helmetHolder.png"><div id="helmet"><div id="helmetE" class="userItem"></div></div></td>
      <td><img id="necklaceHolderPhoto" src="../assets/images/necklaceHolder.png"><div id="necklace"><div id="necklaceE" class="userItem"></div></div></td>
    </tr>
    <tr>
      <td><img id="weaponHolderPhoto" src="../assets/images/weaponHolder.png"><div id="weapon"><div id="weaponE" class="userItem"></div></div> </td>
      <td><img id="plateHolderPhoto" src="../assets/images/plateHolder.png"><div id="plate"><div id="plateE" class="userItem"></div></div></td>
      <td><img id="shieldHolderPhoto" src="../assets/images/shieldHolder.png"><div id="shield"><div id="shieldE" class="userItem"></div></div></td>
    </tr>
    <tr>
      <td><img id="gauntletsHolderPhoto" src="../assets/images/gauntletsHolder.png"><div id="gauntlets"><div id="gauntletsE" class="userItem"></div></div> </td>
      <td><img id="bootsHolderPhoto" src="../assets/images/bootsHolder.png"><div id="boots"><div id="bootsE" class="userItem"></div></div></td>
      <td><img id="ringHolderPhoto" src="../assets/images/ringHolder.png"><div id="ring"><div id="ringE" class="userItem"></div></div></td>
    </tr>

  </table>
  <table id="userStatistics">
    <tr><td>Obrażenia:</td><td id="userDamageValue">-</td><td>Obrona:</td><td id="userDefenseValue">-</td><td matTooltip="Zaproś gracza do gildii"><img (click)="sendGuildInvitation()" id="sendGuildInvitation" src="https://img.icons8.com/dusk/40/000000/meeting.png"/></td></tr>
    <tr><td>Siła:</td><td id="userStrenghtValue">-</td><td>Mądrość:</td><td id="userWisdomValue">-</td></tr>
    <tr><td>Szczęście:</td><td id="userLuckValue">-</td><td>Stamina:</td><td id="userStaminaValue">-</td></tr>
  </table>
</div>

  <div id="guildInfo">
<table>
  <tr><td id="guildName"></td> czyli w skrócie <td id="guildTag"></td></tr>
</table>
    <h3>Ilość członków: {{guildMembers?.length}}</h3>
    <h4>Członkowie </h4>
    <table>
      <tr><th>Gracz</th><th>Poziom</th><th>Profesja</th><th>Rola</th></tr>
      <!--first display leader-->
      <tr class="guildMember" (click)="displayGuildMemberInUserRanking($event)">
        <td>{{guildLeader?.username}}</td>  <td style="text-align: center">{{guildLeader?.level}}</td><td style="text-align: center">{{guildLeader?.profession}}</td><td style="text-align: center">Lider</td>
      </tr>
      <!--then rest of members-->
      <ng-container *ngFor="let member of guildMembers; let i = index">
        <tr class="guildMember" (click)="displayGuildMemberInUserRanking($event)"  *ngIf="guildLeader?.username !== member?.username" >
          <td >{{member.username}}</td>  <td style="text-align: center">{{member.level}}</td><td  style="text-align: center">{{member.profession}}</td><td id="{{ 'role' + i }}" style="text-align: center">Członek</td>
        </tr>
      </ng-container>
      <!--<tr  class="guildMember" *ngFor="let member of guildMembers; let i = index">-->
        <!--<td>{{member.username}}</td>  <td style="text-align: center">{{member.level}}</td><td style="text-align: center">{{member.profession}}</td><td id="{{ 'role' + i }}" style="text-align: center">Członek</td>-->
      <!--</tr>-->
    </table>
  </div>
</div>

