#container {
  position: absolute;
  left: 20%;
  width: 1000px;
  height: 600px;
  background: wheat;
}
#filtrInput
{
  padding: 5px;
  top:5px;
  background: white;
  width: 200px;
  border: 2px solid black;
}
table a
{
  z-index: 100;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
}

::ng-deep th.mat-header-cell
{
  background: red;
  font-size: 18px;
  font-weight: bold;
  z-index: 300;
  width: 200px;
}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

#content,#formContent
{
  width: 100%;
  height: 100%;
  position: relative;
}
#messageTable
{
  position: absolute;
  width: 80%;
  left:20%;
  margin-left: -10%;

}
#messageFormContainer
{
  display: none;
  position: absolute;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  left: 50%;
  top:50%;
  margin-top: -200px;
  background: wheat;
  z-index: 500;
}
input ::ng-deep, textarea ::ng-deep{
  font-size: 28px;
  background: white;
}
#messageFormContainerContent
{
  width: 100%;
  height: 100%;
  position: relative;
}
#closeMessageWindow
{
  z-index: 600;
  position: absolute;
  top:5px;
  right: 5px;
}
mat-form-field {
  width: 70%;
}

.mat-cell
{
  text-align: center;
}
.mat-row:hover
{
  cursor: pointer;
  background: lightgreen;
}
table tr.mat-row {
  height: 35px;
  max-height: 35px;;
}
.eachMessageContent {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 110px;
  white-space: nowrap;
}
th.mat-sort-header-sorted {
  color: black;
}

::ng-deep .mat-sort-header-sorted {
  color: white;
}
