<div id="container">
  <div id="content">
    <mat-form-field id="filtrInput">
      Wyszukaj w treści:
      <input  matInput (keyup)="applyFilter($event.target.value)"  />
    </mat-form-field>
    <table id="messageTable" mat-table [dataSource]="dataMessageSource"  matSort  class="mat-elevation-z8">

      <ng-container matColumnDef="sender.username">
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]>Nadawca</th>
        <td mat-cell *matCellDef="let message"><a [routerLink]="['/ranking/user/', message.sender.username]">{{ message.sender.username}}</a></td>
      </ng-container>

      <ng-container matColumnDef="messageDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Data</th>
        <td mat-cell *matCellDef="let message">{{ message.messageDate  | date:'MMM d, y, H:mm':'pl'}}</td>
      </ng-container>

        <ng-container matColumnDef="messageContent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Treść</th>
        <td mat-cell class="eachMessageContent" [innerHTML]="message.messageContent | sanitizeHtml" *matCellDef="let message"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="displayOrHideMessage($event)"  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>


</div>
