<div id="potwor">
  <div id="inf">
    <table>
      <tr *ngIf="def > 0">
        <td>Obrona: + {{def}}</td>
      </tr>
      <tr *ngIf="atk > 0">
        <td>Obrazenia: +{{atk}}</td>
      </tr>
      <tr *ngIf="int > 0">
        <td>Inteligencja: +{{int}}</td>
      </tr>
      <tr *ngIf="sil > 0">
        <td>Sila: +{{sil}}</td>
      </tr>
    </table>
       </div>

    <table>
      <tr *ngFor="let item of items">
        <td (mouseover)="mouseEnter($event, item.id)" (mouseleave)="mouseOutItem($event, item.id)"><a [routerLink]="['/item/',item.id]"><img src="http://localhost:8080/item/getItemImage/{{item.id}}"></a></td>
      </tr>
    </table>

  <table>
    <tr *ngFor="let potwor of potwory">
      <td (mouseover)="mouseEnter($event, potwor.id)" (mouseleave)="mouseOutItem($event, potwor.id)"><a [routerLink]="['/monster/',potwor.id]"><img src="http://localhost:8080/monster/getMonsterImage/{{potwor.id}}"></a></td>
      <td><h1>{{potwor.monsterName}}</h1></td>
      <!--<td><h1>{{potwor.location.locationName}}</h1></td> &lt;!&ndash; TODO: tu sie wypierdala??  bo w odpowiedzi nie ma locaiton &ndash;&gt;-->
    </tr>
  </table>






  <!--<table>-->

    <!--<tr *ngFor="let monster of monsters">-->
      <!--<td><a [routerLink]="['/monster/', monster.id]"> <img src="http://localhost:8080/monster/getMonsterImage/{{monster.id}}"></a></td>-->
      <!--<td><h2>{{monster.monsterName}}</h2></td>-->
      <!--<td><h2>{{monster.location.locationName}}</h2></td>-->
    <!--</tr>-->

  <!--</table>-->

    <!--<table border="1">-->
      <!--<tr *ngFor="let monster of monsters">-->
        <!--<td><a [routerLink]="['/monster/', monster.id]"> <img src="http://localhost:8080/monster/getMonsterImage/{{monster.id}}"></a></td>-->
        <!--<td><h2>{{monster.monsterName}}</h2></td>-->
        <!--<td><h2>{{monster.location.locationName}}</h2></td>-->
      <!--</tr>-->
    <!--</table>-->




  <button (click)="listMonsters()" id="przycisk" >Wyswietl potwory</button>
  <!--<button  (click)="listItems()" id="przycisk2" >Wyswietl przedmioty</button>-->

</div>

