<div id="container">
  <div id="content">
    <mat-form-field id="filtrInput">
      Wyszukaj w treści:
      <input  matInput (keyup)="applyFilter($event.target.value)"  />
    </mat-form-field>
    <table id="messageTable" mat-table [dataSource]="dataMessageSource"  matSort  class="mat-elevation-z8">

      <ng-container matColumnDef="id">
      <th style="display: none" mat-header-cell *matHeaderCellDef mat-sort-header >id</th>
      <td style="display: none" mat-cell *matCellDef="let message">{{ message.id}}</td>
      </ng-container>


      <ng-container matColumnDef="sender.username">
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]>Nadawca</th>
        <td [ngStyle]="{'background-color': message.ifRead == true ? 'none': 'pink'}"  mat-cell *matCellDef="let message"><a [routerLink]="['/ranking/user/', message.sender.username]">{{ message.sender.username}}</a></td>
      </ng-container>

      <ng-container matColumnDef="messageDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Data</th>
        <td [ngStyle]="{'background-color': message.ifRead == true ? 'none': 'pink'}" mat-cell class="{{message.messageDate}}" *matCellDef="let message">{{ message.messageDate  | date:'MMM d, y, H:mm':'pl'}}</td>
      </ng-container>

        <ng-container matColumnDef="messageContent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Treść</th>
        <td [ngStyle]="{'background-color': message.ifRead == true ? 'none': 'pink'}" mat-cell class="eachMessageContent" [innerHTML]="message.messageContent | sanitizeHtml" *matCellDef="let message"></td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Akcja</th>
        <td [ngStyle]="{'background-color': message.ifRead == true ? 'none': 'pink'}" mat-cell class="eachMessageContent" *matCellDef="let message"><button (click)="sendPrivateMessage($event)">Odpowiedz</button> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="displayOrHideMessage($event)"  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>


</div>
<div id="messageFormContainer">
  <div id="messageFormContainerContent">
    <img id="closeMessageWindow" (click)="closeMessageWindow()"
         src="https://img.icons8.com/dusk/64/000000/close-window.png">
    <form class="example-form" (ngSubmit)="sendMessage()" [formGroup]="newMessageForm">
      <mat-form-field appearance="outline">
        <mat-label>Odbiorca</mat-label>
        <input matInput readonly formControlName="receiver" required/>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Zawartość</mat-label>
        <textarea id="textAreaContent" maxlength="255" rows="6" matInput formControlName="content" required></textarea>
        <mat-error *ngIf="hasError('content')">Treść jest wymagana!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nadawca</mat-label>
        <input matInput readonly formControlName="sender" required/>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" style="float: right;" [disabled]="!newMessageForm.valid">
        Wyślij
      </button>
    </form>
  </div>
</div>
